* {box-sizing: border-box;}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
  color: red;
  font-size: 1em;
}

.navbar-wrapper {
  box-shadow: 0px 0px 15px rgba(247, 74, 5, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: white;
  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

.layout {
  width: 90%;
  margin: 0 auto;
  max-width: 68.75rem;
}
